.search-section {
  width: 100%;
  padding: 5em 0 2em;
  background-color: #fff;
  -moz-box-shadow: inset 0 -5px 3px -5px #ccc;
  -webkit-box-shadow: inset 0 -5px 3px -5px #ccc;
  box-shadow: inset 0 -5px 3px -5px #ccc;
}
.search-wrapper {
  max-width: 700px;
  margin: auto;
}
.pad-wrapper {
  text-align: center;
  margin: 50px 0;
}