.gallery-wrapper {
  margin: 40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px 10px;
}
@media only screen and (max-width: 1080px) {
  .gallery-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 920px) {
  .gallery-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 767px) {
  .gallery-wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 25px 0px;
  }
}

@media only screen and (max-width: 460px) {
  .gallery-wrapper {
    grid-template-columns: 1fr;
    gap: 30px 0px;
  }
}
