.input-text {
  width: 100%;
  font-size: 14px;
  line-height: 1.15;
  margin: 0;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #cdcdcd;
  letter-spacing: 1px;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}
.label {
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #151517;
  margin-bottom: 10px;
}
