.gallery-item {
  position: relative;
  overflow: hidden;
  background-color: #fff;
}
.gallery-item > a > img {
  display: block;
  object-fit: contain;
  width: 100%;
}
.gallery-item-content {
  padding: 10px;
}
.gallery-item-content > h2 {
  font-size: 14px;
  margin: 0 0 5px;
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.author-name {
  font-size: 12px;
  color: #7f96a3;
}
.tags {
  font-size: 12px;
  color: #7f96a3;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.gallery-item > a {
  display: block;
  position: relative;
}
.image-overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
  padding: 10px;
  color: #000;
  font-size: 13px;
  font-weight: 600;
  opacity: 0;
  -webkit-transition: background .5s ease;  
  -moz-transition: background .5s ease;  
  -o-transition: background .5s ease;  
  transition: background .5s ease; 
}
.gallery-item:hover .image-overlay {
  background: linear-gradient(
    0,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 40%
  );
  background: -webkit-gradient(
    0,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 40%
  );
  opacity: 1;
}
